@import '../../../variables.less';

/* -- cut shape stones -- */

.gem {
  width: 100%;

  polygon,
  path {
    fill: #d1d3d4;
    stroke: #d1d3d4;
    stroke-width: "1%";
    stroke-opacity: 0.1;
  }
}

.gem-outline {
  polygon,
  path {
    fill: none;
    stroke-width: 1;
    stroke-opacity: 1;
    stroke-linecap: round;
    stroke-miterlimit: 1;
  }
  *[class^='cls-'] {
    opacity: 2 !important;
  }
}

.gem {
  max-height: 33px;
  padding: 2px;

  @media (min-width: @screen-m) {
    max-height: 37px;
  }
  @media (min-width: @screen-ml) {
    max-height: 43px;
  }
  @media (min-width: @screen-l) {
    max-height: 47px;
  }
  @media (min-width: @screen-xl) {
    max-height: 54px;
  }
  @media (min-width: @screen-xxl) {
    max-height: 57px;
  }
  .cls-1 {opacity: 0.1;}
  .cls-2 {opacity: 0.2;}
  .cls-3 {opacity: 0.3;}
  .cls-4 {opacity: 0.4;}
  .cls-5 {opacity: 0.5;}
  .cls-6 {opacity: 0.6;}
  .cls-7 {opacity: 0.7;}
  .cls-8 {opacity: 0.8;}
  .cls-9 {opacity: 0.9;}
  .cls-10 {opacity: 1;}
}