@import '../../../variables.less';
@import '../../../mixins.less';

/* -- Block stones -- */

.block-stone {
  margin-bottom: 40px;
  border: 1px solid transparent;

  &.selected {
    border-color: black;
    transition: border-color .3s linear;
  }
  &__wrap {
    @media (max-width: @screen-xs) {
      width: 100%;
    }
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    background-color: white;

    >div {
      width: 100%;
    }
  }
  &__top {
    position: relative;
    min-height: 315px;
    padding: 12px 15px;
    background-color: black;

    &__actions {
      min-height: 26px;

      &__item {
        float: left;
        margin-right: 7px;

        span {
          font-size: 18px;
          color: white;
        }
        &:last-child {
          span {
            margin-top: 3px;
            font-size: 15px;
          }
        }
      }
    }
  }
  &__img {
    &__wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 38px;
    }
  }
  img, canvas {
    max-width: 100%;
    height: auto;
  }
  &__middle {
    padding: 12px 15px;
  }
  &__title {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 700;

    a {
      color: black;
    }
  }
  &__bottom {
    padding: 20px 15px 15px;

    .checkbox {
      margin-bottom: 0;
    }
    &__actions {
      .inline-block-top;

      &__item {
        float: left;
        margin-right: 12px;

        .glyphicon {
          font-size: 20px;
          color: @grey-medium-lightest;

          &:hover {
            color: black;
          }
        }
      }
      .label-new {
        .inline-block-top;
        margin-top: 4px;
        padding: 1px 5px 2px;
        font-family: @flama-condensed;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        color: white;
        background-color: black;

        &:hover {
          background-color: @grey-medium-darker;
        }
      }
    }
  }
  &-rough {
    .block-stone__img__wrap {
      padding-top: 0;
    }
  }
}