@import '../../variables.less';

/* -- Panel actions -- */

.panel-actions {
  position: absolute;
  top: 5px;
  left: 0;
  width: 41px;
  border: 1px solid @grey-medium-darker;
  background-color: white;

  &__inner {
    max-width: 23px;
    margin: 0 auto;
    padding: 12px 0;
  }
  &__item {
    width: 23px;
    height: 23px;
    margin-bottom: 20px;
    cursor: pointer;

    &[class*=view] {
      background-repeat: no-repeat;
    }
    &:first-child {
      margin-bottom: 35px;
    }
    &:last-child {
      margin-bottom: 8px;
    }
    &.play {
      font-size: 19px;
      text-align: center;

      .glyphicon-pause {
        display: none;
      }
      &.paused {
        .glyphicon-play {
          display: none;
        }
        .glyphicon-pause {
          display: block;
        }
      }
    }
    &.front-view {
      background-image: url(./img/icon-stone-front.svg);

      &:hover,
      &:focus,
      &:active,
      &.active {
        background-image: url(./img/icon-stone-front-active.svg);
      }
    }
    &.back-view {
      background-image: url(./img/icon-stone-back.svg);

      &:hover,
      &:focus,
      &:active,
      &.active {
        background-image: url(./img/icon-stone-back-active.svg);
      }
    }
    &.right-view {
      background-image: url(./img/icon-stone-right.svg);
      background-position-x: 1px;

      &:hover,
      &:focus,
      &:active,
      &.active {
        background-image: url(./img/icon-stone-right-active.svg);
        background-position-x: 1px;
      }
    }
    &.left-view {
      background-image: url(./img/icon-stone-left.svg);
      background-position-x: 3px;

      &:hover,
      &:focus,
      &:active,
      &.active {
        background-image: url(./img/icon-stone-left-active.svg);
        background-position-x: 3px;
      }
    }
    &.full-view {
      background-image: url(./img/icon-stone-360.svg);

      &:hover,
      &:focus,
      &:active,
      &.active {
        background-image: url(./img/icon-stone-360-active.svg);
      }
    }
  }
}