@import '../../variables.less';
@import '../../mixins.less';

// main tabs
.page__tabs {
  padding-top: 6px;
  background-color: white;

  .nav-tabs.nav-justified {
    >li {
      >a {
        padding-bottom: 11px;
        font-family: @flama-condensed;
        font-size: 20px;
        font-weight: bold;
        text-transform: uppercase;
        color: @grey-medium;
        border: none;
        border-bottom: 2px solid @grey-medium-darker;
        border-radius: 0;
        transition: color .3s linear, border-color .3s ease-in-out;

        &:hover,
        &:focus,
        &.active {
          padding-bottom: 10px;
          color: black;
          border-bottom: 3px solid black;
          background-color: transparent;
        }
      }
    }
  }
}