@import '../../variables.less';

/* -- Header -- */

.page-header {
  margin: 0;
  padding: 24px 0 24px;
  border-bottom: none;
  background-color: white;

  &__logo {
    height: 40px;
  }
  &__right {
    text-align: right;
  }
  &__nav {
    display: inline-block;
    vertical-align: top;

    &__link {
      padding: 30px 33px 10px;
      font-family: @flama-condensed;
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 1.5px;
      text-align: center;
      text-transform: uppercase;
      color: black;

      &:first-child {
        padding-left: 0;
      }
      &-signin {
        position: relative;
        padding-right: 30px;

        &:after {
          content: '';
          position: absolute;
          top: 33px;
          right: 0;
          width: 26px;
          height: 19px;
          background: url(./img/symbol-login.svg);
        }
      }
    }
  }
}