@import '../variables.less';

/* -- Global styles -- */

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: @newBaskerville, Arial, Helvetica;
  color: black;
  background-color: @grey-lightest;
}

.container-inner {
  max-width: 1750px;
  margin: 0 15px 0 35px;
  padding: 0 25px;

  @media (min-width: @screen-l) {
    margin-right: 35px;
  }
}

.page__main {
  padding: 20px 0;
  border-top: 1px solid @grey-medium-darker;

  &__middle {
    position: relative;
    padding-top: 5px;
  }
  &__pagination {
    text-align: center;

    .pagination {
      margin: 45px 0 40px;

      >li {
        &:first-child,
        &:last-child {
          a {
            width: 40px;
            height: 40px;
            font-size: 13px;
            color: black;
            border: 1px solid black;
            border-radius: 0;
          }
          &:hover {
            a {
              opacity: .4;
            }
          }
        }
        &:first-child {
          a {
            margin-right: 10px;
          }
        }
        &:last-child {
          a {
            margin-left: 10px;
          }
        }
        >a,
        >span {
          padding: 0 10px;
          line-height: 40px;
          color: @grey-dark-lighter;
          border: none;
          background-color: transparent;

          @media (min-width: @screen-l) {
            font-size: 16px;
          }
        }
      }
    }
  }
}

h1, h2, h3, h4 {
  margin: 0 0 20px;
}

h5, h5 {
  margin: 0 0 15px;
}

a {
  &:hover {
    text-decoration: none;
  }
}

.to-right {
  @media (min-width: @screen-sm) {
    text-align: right;
  }
}

.row-lg {
  @media (min-width: @screen-m) {
    margin-left: -2.5rem;
    margin-right: -2.5rem;
  }
  @media (min-width: @screen-l) {
    margin-left: -3.75rem;
    margin-right: -3.75rem;
  }
}

.col-larger {
  @media (min-width: @screen-m) {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
  @media (min-width: @screen-l) {
    padding-left: 3.75rem;
    padding-right: 3.75rem;
  }
}

.row-md-larger {
  @media (min-width: @screen-xl) {
    margin-left: -1.75rem;
    margin-right: -1.75rem;
  }
}

.col-md-2-larger {
  @media (min-width: @screen-xl) {
    width: 20%;
    padding: 0 1.75rem;
  }
}

.visible-screen-l {
  display: none;

  @media (min-width: @screen-l) {
    display: inline;
  }
}

.route-wrap {
  position: relative;

  >div {
    position: absolute;
  }
}

