@import 'variables.less';
@import 'mixins.less';

// filters
.page {
  &__top {
    &__filters {
      padding: 35px 0 15px;
      background-color: white;

      .filter {
        min-height: 75px;
      }
      .col-larger {
        margin-bottom: 5px;

        @media (min-width: @screen-l) {
          margin-bottom: 15px;
        }
      }
      &__content {
        .row-lg {
          &:last-child {
            .col-larger {
              margin-bottom: 5px;

              @media (min-width: @screen-l) {
                margin-bottom: 0;
              }
            }
            .filter {
              margin-bottom: 15px;
            }
          }
        }
      }
      .checkbox {
        width: 50%;
      }
    }
  }
}

.filter {
  margin-bottom: 15px;

  @media (min-width: @screen-l) {
    margin-bottom: 25px;
  }
  &-cut {
    &-shape {
      &__item {
        float: left;
        max-width: 33px;
        margin: 0 1.5% 15px 0;
        cursor: pointer;

        @media (min-width: @screen-m) {
          max-width: 37px;
        }
        @media (min-width: @screen-ml) {
          max-width: 43px;
        }
        @media (min-width: @screen-l) {
          max-width: 47px;
        }
        @media (min-width: @screen-xl) {
          max-width: 54px;
        }
        @media (min-width: @screen-xxl) {
          max-width: 57px;
        }
        &:last-child {
          margin-right: 0;
        }
        &__text {
          margin-top: 8px;
          text-align: center;
          font-size: 11px;
          color: @grey-medium;

          @media (min-width: @screen-l) {
            font-size: 14px;
          }
        }
        &:hover {
          .gem {
            path,
            polygon {
              stroke: black;
              transition: stroke .3s ease-in-out;
            }
          }
          .filter-cut-shape__item__text {
            color: black;
            transition: color .3s ease-in-out;
          }
        }
      }
    }
  }
  &__label {
    font-family: @flama-condensed;
    font-weight: bold;
    text-transform: uppercase;
  }
  &-slider {
    &__range {
      margin-top: 10px;

      input[type=number] {
        float: left;
        max-width: 43px;

        @media (min-width: @screen-xl) {
          max-width: 55px;
        }
      }
      .divider {
        display: block;
        float: left;
        padding: 9px 5px;
        height: 37px;
        max-width: 30px;
        text-align: center;

        @media (min-width: @screen-xl) {
          padding: 9px 11px 9px 10px;
        }
      }
    }
  }
  &-color {
    .filter__bottom {
      margin: 0 -10px;
    }
    &__item {
      float: left;
      width: 20%;
      margin-bottom: 12px;
      padding: 0 10px;
      font-size: 12px;
      text-align: center;
      cursor: pointer;

      @media (min-width: @screen-l) {
        font-size: 14px;
      }
      &__inner {
        padding-top: 2px;
        color: @grey-medium-darker;
        border-bottom: 3px solid;

        &.yellow {
          border-bottom-color: @yellow;
        }
        &.pink {
          border-bottom-color: @pink;
        }
        &.blue {
          border-bottom-color: @blue-light;
        }
        &.green {
          border-bottom-color: @green-light;
        }
        &.orange {
          border-bottom-color: @orange;
        }
        &.brown {
          border-bottom-color: @brown;
        }
        &.red {
          border-bottom-color: @red;
        }
        &.purple {
          border-bottom-color: @purple;
        }
        &.black {
          border-bottom-color: black;
        }
        &.grey {
          border-bottom-color: @grey-medium-lighter-c;
        }
        &:hover,
        &:focus,
        &:active,
        &.active {
          color: black;
          background-color: @grey-light-lighter;
        }
      }
    }
  }
  &-sort {
    .filter__bottom {
      padding-top: 3px;
    }
    &__item {
      position: relative;
      float: left;
      margin: 0 3% 10px 0;
      cursor: pointer;
      padding-right: 12px;
      font-size: 12px;
      color: @grey-medium-darker;

      @media (min-width: @screen-l) {
        font-size: 14px;
      }
      &.active,
      &:hover,
      &:active,
      &:focus {
        color: black;
      }
      &.active {
        &:after {
          content: '';
          position: absolute;
          top: 3px;
          right: 0;
          width: 8px;
          height: 11px;
          background: url(./img/arrow-top-xs.svg) no-repeat;

          @media (min-width: @screen-l) {
            top: 4px;
          }
        }
      }
    }
  }
  &-compare {
    padding-top: 34px;
    color: @grey-dark-lighter;

    .filter__bottom {
      position: relative;
      padding-left: 25px;
      cursor: pointer;

      @media (min-width: @screen-l) {
        font-size: 16px;
      }
    }
    &__icon {
      position: absolute;
      top: 2px;
      left: 0;
      width: 18px;
      height: 15px;
      background: url(./img/list-with-bullets.svg) no-repeat;
    }
    &:focus,
    &:active,
    &.active {
      color: black;

      .filter-compare__icon {
        background: url(./img/list-with-bullets-active.svg) no-repeat;
      }
    }
  }
  &-page-view {
    .inline-block-top;
    padding-top: 25px;

    &__item {
      float: left;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }
      &__icon {
        display: block;
        width: 27px;
        height: 27px;
        border: none;
        background-color: transparent;
        -webkit-appearance: none;

        &:focus {
          outline: none;
        }
        &.icon-combo {
          background: url(./img/icon-page-view-combo.svg) no-repeat;

          &.active,
          &:focus,
          &:active,
          &:hover {
            background: url(./img/icon-page-view-combo-active.svg) no-repeat;
          }
        }
        &.icon-table {
          background: url(./img/icon-page-view-table.svg) no-repeat;

          &.active,
          &:focus,
          &:active,
          &:hover {
            background: url(./img/icon-page-view-table-active.svg) no-repeat;
          }
        }
        &.icon-big-img {
          background: url(./img/icon-page-view-big-img.svg) no-repeat;

          &.active,
          &:focus,
          &:active,
          &:hover {
            background: url(./img/icon-page-view-big-img-active.svg) no-repeat;
          }
        }
        &.icon-small-img {
          background: url(./img/icon-page-view-small-img.svg) no-repeat;

          &.active,
          &:focus,
          &:active,
          &:hover {
            background: url(./img/icon-page-view-small-img-active.svg) no-repeat;
          }
        }
      }
    }
  }
  input[type=text],
  input[type=number],
  input[type=search] {
    width: 100%;
    height: 30px;
    padding: 5px;
    font-size: 12px;
    text-overflow: ellipsis;
    border: solid 1px @grey-light-darker;

    @media (min-width: @screen-l) {
      height: 37px;
      padding: 7px;
      font-size: 14px;
    }
    &:focus {
      border-color: black;
      outline: none;
      transition: border-color .3s ease-in-out;
    }
    .placeholder({
      color: @grey-medium-lighter-b;
    });
  }
  input[type=search] {
    max-width: 250px;
    padding-right: 32px;
    background: url(./img/icon-search-sm.svg) no-repeat 95% 50%;

    &:focus,
    &:active {
      background: url(./img/icon-search-sm-active.svg) no-repeat 95% 50%;
    }
  }
}

.results-found {
  font-size: 16px;

  @media (min-width: @screen-l) {
    font-size: 18px;
  }
}

.reset-filters {
  cursor: pointer;
  color: @grey-dark-lighter;

  @media (min-width: @screen-l) {
    font-size: 16px;
  }
  &__icon {
    .inline-block-top;
    padding-right: 7px;
    font-size: 24px;
    line-height: 19px;
    color: @grey-dark;
  }
  &__text {
    .inline-block-top;
  }
  &:hover,
  &:focus,
  &:active,
  &.active {
    color: black;

    .reset-filters__icon {
      color: black;
    }
  }
}

// sliders
.rc-slider {
  &-step {
    height: 2px;
  }
  &-track {
    height: 2px;
    background-color: black;
  }
  &-rail {
    height: 2px;
    background-color: @grey-light;
    border-radius: 2.5rem;
  }
  &-handle {
    width: 18px;
    height: 18px;
    margin: -8px 0 0 -9px;
    border: 5px solid black;
    background-color: black;

    &:focus,
    &:hover,
    &:active {
      border-color: black;
      background-color: @grey-lighter;
      box-shadow: none;
    }
  }
  &-dot {
    display: none;
  }
  &-mark {
    top: 25px;
    font-size: 10px;

    @media(min-width: @screen-m) {
      font-size: 11px;
    }
    @media(min-width: @screen-ml) {
      font-size: 12px;
    }
    @media(min-width: @screen-l) {
      font-size: 13px;
    }
    &-text {
      color: @grey-dark-lighter;

      &-active {
        color: black;
      }
    }
  }
}

// selects
.Select {
  text-align: left;

  &.is-open {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

    .Select-arrow {
      transform: rotateZ(180deg);
    }
    .Select-control {
      border-color: transparent;
    }
  }
}

.Select-control {
  height: 30px;
  color: black;
  font-size: 12px;
  border: solid 1px @grey-light-darker;
  border-radius: 0;

  @media (min-width: @screen-l) {
    height: 37px;
    font-size: 14px;
  }
}

.Select-input {
  height: 30px;

  @media (min-width: @screen-l) {
    height: 37px;
  }
}

.Select-placeholder {
  line-height: 30px;
  color: @grey-medium-darker;

  @media (min-width: @screen-l) {
    line-height: 37px;
  }
}
.Select--single > .Select-control .Select-value {
  color: @grey-medium-darker;
}

.Select-clear-zone {
  display: none;
}

.is-focused:not(.is-open) > .Select-control {
  border-color: black;
  box-shadow: none;
  transition: border-color .3s ease-in-out;
}

.Select-arrow {
  width: 10px;
  height: 6px;
  border: none;
  background: url(./img/icon-arrow-bottom-xs.svg) no-repeat;
}

.Select-menu-outer {
  border-color: transparent;
  border-radius: 0;
  box-shadow: -4px 5px 20px rgba(0, 0, 0, 0.025), 4px 5px 20px rgba(0, 0, 0, 0.025);
}

.Select-option {
  font-size: 12px;
  color: @grey-medium-darker;

  @media (min-width: @screen-l) {
    font-size: 14px;
  }
  &.is-selected,
  &.is-focused {
    background-color: transparent;
    color: black;
  }
}

// checkboxes
.checkboxes {
  margin: 0 -5px;

  @media (min-width: @screen-l) {
    margin: 0 -8px;
  }
}

.checkbox {
  .inline-block-top;
  min-height: 22px;
  margin: 0 0 10px;
  padding: 0 5px;

  @media (min-width: @screen-l) {
    padding: 0 8px;
  }
  label {
    position: relative;
    padding: 0;
  }
  input[type=checkbox] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    margin: 0;

    &:checked + .checkbox__text {
      color: black;

      &:before {
        border: none;
        background: url(./img/icon-check.svg) no-repeat 4px 5px;
      }
    }
  }
  &__text {
    display: block;
    position: relative;
    padding:  3px 0 0 30px;
    font-size: 12px;
    color: @grey-dark-lighter;

    @media (min-width: @screen-l) {
      font-size: 14px;
    }
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 22px;
      height: 22px;
      border: 1px solid @grey-medium-lighter-b;
    }
    &:hover {
      color: black;
      transition: color .3s ease-in-out;

      &:before {
        border-color: black;
        transition: border-color .3s ease-in-out;
      }
    }
  }
  +.checkbox {
    margin-top: 0;
  }

  // black
  &.bk {
    input[type=checkbox] {
      &:checked + .checkbox__text {
        &:before {
          background: black url(./img/icon-check-wh.svg) no-repeat 4px 5px;
        }
      }
    }
  }
}



