// fonts
@font-face {
  font-family: "NewBaskerville";
  src: url("fonts/6f8d5d3a-3676-4586-b129-13ecdaabbbc0.eot?#iefix");
  src: url("fonts/6f8d5d3a-3676-4586-b129-13ecdaabbbc0.eot?#iefix")
  format("eot"), url("fonts/d34e3a5a-59f6-4d14-b0a8-54a75a3adfae.woff")
  format("woff"), url("fonts/e9ccb09b-59c7-44be-b649-dffa01b3ac54.ttf")
  format("truetype"),
  url("fonts/013cba0b-1605-4164-8b58-7c77b084d5bc.svg#013cba0b-1605-4164-8b58-7c77b084d5bc")
  format("svg");
  font-style: normal;
}

@font-face {
  font-family: "Flama Condensed";
  src: url("fonts/flamacondensed-light.eot?#iefix");
  src: url("fonts/flamacondensed-light.eot?#iefix") format("eot"),
  url("fonts/flamacondensed-light.woff") format("woff"),
  url("fonts/flamacondensed-light.svg") format("svg");
  font-style: normal;
}

@font-face {
  font-family: "Flama Condensed";
  src: url("fonts/flamacondensed-medium.eot?#iefix");
  src: url("fonts/flamacondensed-medium.eot?#iefix") format("eot"),
  url("fonts/flamacondensed-medium.woff") format("woff"),
  url("fonts/flamacondensed-medium.svg") format("svg");
  font-weight: bold;
}
