@import 'variables.less';

/* -- Mixins -- */

.inline-block-top {
  display: inline-block;
  vertical-align: top;
}

.placeholder(@rules) {
  &::-webkit-input-placeholder {
    @rules();
  }
  &:-moz-placeholder {
    @rules();
  }
  &::-moz-placeholder {
    @rules();
  }
  &:-ms-input-placeholder {
    @rules();
  }
}