@import 'fonts.less';

// fonts
@newBaskerville: "NewBaskerville";
@flama-condensed: "Flama Condensed";

// colors
@grey-lightest: #fbfbfb;
@grey-lighter: #f2f2f2;
@grey-light-lighter: #f0f0f0;
@grey-light: #ededed;
@grey-light-darker: #e2e2e2;
@grey-medium-lightest: #d0d0d0;
@grey-medium-lighter-c: #c4c4c4;
@grey-medium-lighter-b: #bcbcbc;
@grey-medium: #a6a6a6;
@grey-medium-darker: #979797;
@grey-dark-lighter: #8e8e8e;
@grey-dark: #868686;

@yellow: #f3c661;
@pink: #ffa9a9;
@blue-light: #79c5e7;
@green-light: #87dd7f;
@orange: #eea577;
@brown: #893f3f;
@red: #cb5454;
@purple: #b987f0;

// media
@screen-xs: 600px;
@screen-s: 768px;
@screen-sm: 992px;
@screen-m: 1200px;
@screen-ml: 1366px;
@screen-l: 1440px;
@screen-xl: 1600px;
@screen-xxl: 1700px;